body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container{
  max-width: 100vw;
}

.positionItemConatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.positionItem{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 900px;
  gap: 50px;
}